<!-- Formulario de cadastro/edicao de livro (inclui upload de imagem) -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Escolar</title>

    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>

<header>

    <div class="logo">
        Biblioteca Escolar
    </div>

    <nav>
        <a href="/">Início</a>
        <a href="/livros">Livros</a>
        <a href="/login">Cadastro</a>
    </nav>

</header>




<section class="novidades">

    <h2>Faça seu cadastro!</h2>

    <p>
        obs: deixe todos os campos preenchidos...
    </p>

    <div class="...">

        <div class="cardF">

        <p> parte dos formulários </p>
        <button>Faça login aqui</button>
        </div>

   
</section>

<footer>

    Biblioteca Escolar © 2026

</footer>

<script src="/js/auth.js"></script>

</body>
</html>
